<div class="flex flex-col gap-1 h-full">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>
    <p-card class="flex-1" styleClass="h-full">
        <ng-template #title>
            <div class="flex gap-2">
                <div class="flex items-center gap-4">
                    <p-button (onClick)="onClickCancel()" icon="pi pi-arrow-left" pTooltip="Back" tooltipPosition="bottom" text />
                    <p class="text-xl font-semibold">Screen Details</p>
                </div>
                <div class="ml-auto">
                    <p-button class="hidden md:block" icon="pi pi-save" label="Save" (onClick)="onClickSave($event)" />
                    <p-button class="md:hidden" icon="pi pi-save" (onClick)="onClickSave($event)" pTooltip="Save" tooltipPosition="bottom" />
                </div>
            </div>
        </ng-template>
        <div class="grid grid-cols-12 gap-4 h-full pb-10 md:pb-0" [formGroup]="screenForm">
            <div class="flex flex-col gap-4 col-span-12 md:col-span-6 lg:col-span-8">
                <div class="grid grid-cols-12 gap-4">
                    <p-inputgroup class="col-span-4 md:col-span-6 lg:col-span-3">
                        <p-floatlabel variant="on">
                            <input id="code" pInputText formControlName="code"
                                [ngClass]="{ 'ng-invalid ng-dirty': formControl('code').invalid && formControl('code').touched }" readonly fluid />
                            <label for="code">Code</label>
                        </p-floatlabel>
                        <p-inputgroup-addon>
                            <p-button icon="pi pi-copy" (onClick)="onCopyToClipboard('code')" pTooltip="Copy" tooltipPosition="bottom" text />
                        </p-inputgroup-addon>
                    </p-inputgroup>
                    <p-floatlabel class="col-span-8 md:col-span-6 lg:col-span-9" variant="on">
                        <input id="name" pInputText formControlName="name"
                            [ngClass]="{ 'ng-invalid ng-dirty': formControl('name').invalid && formControl('name').touched }" fluid />
                        <label for="name">Name</label>
                    </p-floatlabel>
                </div>
                <div class="flex flex-col gap-2 h-full flex-1">
                    <p-floatlabel variant="on">
                        <input id="fullAddress" type="text" pInputText formControlName="fullAddress" readonly fluid>
                        <label for="fullAddress">Address</label>
                    </p-floatlabel>
                    <div class="w-full h-50 md:h-full">
                        @if (loadingAddressSignal()) { <p-progress-bar mode="indeterminate" /> }
                        <!-- @else { <app-mapmarkers [markers]="[ screenForm.value ]" (selectedScreen)="onGetLocation($event)" /> } -->
                        <!-- @if (screenForm.valid) {  } -->
                        <app-mapmarkers [markers]="[ screenForm.value ]" (selectedScreen)="onGetLocation($event)" [zoom]="18" [zoomControl]="true" />
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-4 col-span-12 md:col-span-6 lg:col-span-4">
                <div class="flex flex-col border border-gray-200 dark:border-gray-700 rounded">
                    <span class="flex items-center justify-between p-4 border-b border-gray-200 dark:border-gray-700 bg-gray-200 dark:bg-gray-800">Display</span>
                    <div class="flex items-center justify-between gap-4 px-4 py-2 text-sm">
                        <p>Type:</p>
                        <p-tag [value]="screen.type?.toUpperCase() || 'N/A'" severity="success" />
                    </div>
                    <div class="flex items-center justify-between gap-4 px-4 py-2 text-sm">
                        <p>Orientation:</p>
                        <p>{{ screen.orientation?.toUpperCase() || 'N/A' }}</p>
                    </div>
                    <div class="flex items-center justify-between gap-4 px-4 py-2 text-sm border-b border-gray-200 dark:border-gray-700">
                        <p>Resolution:</p>
                        <p>{{ screen.resolution }}</p>
                    </div>
                    <p-button class="m-2" (onClick)="isShowInfo.set(true)" label="View More" size="small" severity="info" text fluid />
                </div>
                <div class="flex flex-col border border-gray-200 dark:border-gray-700 rounded">
                    <span class="flex items-center justify-between p-4 border-b border-gray-200 dark:border-gray-700 bg-gray-200 dark:bg-gray-800">Groupings</span>
                    <div class="flex items-center gap-4 p-4">
                        <div class="flex flex-col w-full">
                            <p-floatlabel variant="on">
                                <p-select id="group" [options]="groupOptions.items()" optionLabel="name" optionValue="id" formControlName="groupId" appendTo="body"
                                    [loading]="groupOptions.loader" (onChange)="onLoadSubGroups($event.value)"
                                    (onLazyLoad)="onLazyLoadGroups($event)" [virtualScrollItemSize]="38" virtualScroll filter fluid lazy />
                                <label for="groupId">Group</label>
                            </p-floatlabel>
                            @if (formControl('groupId').touched && (formControl('groupId').dirty || formControl('groupId').invalid)) {
                                @if (formControl('groupId').invalid) {
                                    <div class="p-2 text-sm text-red-500 flex items-center gap-2">
                                        <i class="pi pi-exclamation-circle"></i>
                                        @if (formControl('groupId').errors?.['required']) { This field is required }
                                    </div>
                                }
                            }
                        </div>
                        <div class="flex flex-col w-full">
                            <p-floatlabel variant="on">
                                <p-select id="subGroupId" [options]="subGroupOptions.items()" optionLabel="name" optionValue="id" formControlName="subGroupId" appendTo="body"
                                    [loading]="subGroupOptions.loader" (onLazyLoad)="onLazyLoadSubGroups($event)"
                                    [virtualScrollItemSize]="38" virtualScroll filter fluid lazy />
                                <label for="subGroupId">Sub Group</label>
                            </p-floatlabel>
                            @if (formControl('subGroupId').touched && (formControl('subGroupId').dirty || formControl('subGroupId').invalid)) {
                                @if (formControl('subGroupId').invalid) {
                                    <div class="p-2 text-sm text-red-500 flex items-center gap-2">
                                        <i class="pi pi-exclamation-circle"></i>
                                        @if (formControl('subGroupId').errors?.['required']) { This field is required }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="flex flex-col border border-gray-200 dark:border-gray-700 rounded">
                    <span class="flex items-center justify-between p-4 border-b border-gray-200 dark:border-gray-700 bg-gray-200 dark:bg-gray-800">Locations</span>
                    <div class="flex justify-between gap-4 p-4">
                        <p-floatlabel class="w-full" variant="on">
                            <input id="location" type="text" pInputText formControlName="location" fluid>
                            <label for="location">Location</label>
                        </p-floatlabel>
                        <p-floatlabel class="w-full" variant="on">
                            <input id="landmark" type="text" pInputText formControlName="landmark" fluid>
                            <label for="landmark">Landmark</label>
                        </p-floatlabel>
                    </div>
                </div>
                <div class="flex flex-col border border-gray-200 dark:border-gray-700 rounded">
                    <span class="flex items-center justify-between p-4 border-b border-gray-200 dark:border-gray-700 bg-gray-200 dark:bg-gray-800">Tags</span>
                    <div class="col-span-1 md:col-span-6 flex flex-col gap-4 p-4">
                        <p-inputgroup>
                            <p-floatlabel variant="on">
                                <input id="tag" type="text" pInputText [formControl]="tagControl" pSize="small" fluid />
                                <label for="tag">Tag</label>
                            </p-floatlabel>
                            <p-inputgroup-addon>
                                <p-button icon="pi pi-plus" [text]="false" pTooltip="Add" tooltipPosition="bottom" (onClick)="onClickAddTag()" size="small" fluid />
                            </p-inputgroup-addon>
                        </p-inputgroup>
                        <div class="flex flex-wrap gap-2 max-h-[10rem] overflow-y-scroll relative">
                            @for (item of screen.tags; track $index) {
                                <p-chip [label]="item" [removable]="true" (onRemove)="onClickRemoveTag($event, item)" />
                            } @empty {
                                <div class="w-full h-full flex items-center justify-center">
                                    <p class="italic">No tag added</p>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <div class="flex items-center justify-between border border-gray-200 dark:border-gray-700 rounded p-4 w-full">
                    <p>Scheduler <span class="!text-sm pi pi-question-circle"
                        pTooltip="Schedule the screen to be played at a specific time." tooltipPosition="bottom"></span></p>
                    <p-button (onClick)="showScheduler.set(true)" size="small" icon="pi pi-pencil" />
                </div>
            </div>
        </div>
    </p-card>
</div>

<p-dialog [(visible)]="isShowGroupForm" [style]="{ width: '30rem' }" (onHide)="groupForm.reset()" closeOnEscape draggable modal>
    <ng-template #header>
        <div class="inline-flex items-center gap-2">
            <i class="pi pi-info-circle"></i> <span>Add Group</span>
        </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="groupInput; context: { $implicit: 'group' }"></ng-container>
    <ng-template #footer>
        <p-button label="Close" icon="pi pi-times" (onClick)="isShowGroupForm.set(false)" size="small" text />
        <p-button label="Save" icon="pi pi-check" (onClick)="onSaveGroup('group')" size="small" />
    </ng-template>
</p-dialog>

<p-dialog header="Sub Group" [(visible)]="isShowSubGroupForm" [style]="{ width: '30rem' }" (onHide)="groupForm.reset()" closeOnEscape draggable modal>
    <ng-template #header>
        <div class="inline-flex items-center gap-2">
            <i class="pi pi-info-circle"></i> <span>Add Sub Group</span>
        </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="groupInput; context: { $implicit: 'sub-group' }"></ng-container>
    <ng-template #footer>
        <p-button label="Close" icon="pi pi-times" (onClick)="isShowSubGroupForm.set(false)" size="small" text />
        <p-button label="Save" icon="pi pi-check" (onClick)="onSaveGroup('sub-group')" size="small" />
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showScheduler" header="Schedule" [style]="{ width: '40rem' }" [draggable]="false" closable modal>
    <app-weekday-hour-selection [formGroup]="screenForm" [showAllDay]="true" allDayLabel="Always On" />
    <ng-template #footer>
        <p-button label="Save" (onClick)="showScheduler.set(false)" />
    </ng-template>
</p-dialog>

<ng-template #groupInput let-type>
    <div class="flex flex-col gap-4" [formGroup]="groupForm">
        <input formControlName="name" placeholder="Name" type="text" pInputText>
        <textarea name="description" id="description" placeholder="Description" formControlName="description" rows="5" pTextarea></textarea>
    </div>
</ng-template>


<app-screen-other-info [isShowInfo]="isShowInfo" [screen]="selectedScreen()" (isShowInfoChange)="selectedScreen.set(null)" [isAdmin]="true" />