<div class="flex flex-col gap-1 h-full">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>
    <div class="flex-1 grid grid-cols-12 gap-6">
        <div class="col-span-12 md:col-span-6">
            <p-card styleClass="h-full">
                <div class="flex flex-col gap-3">
                    <div class="flex gap-3 items-center justify-between">
                        <p class="text-xl font-medium">Categories</p>
                        <p-button icon="pi pi-plus" (onClick)="showCategoryForm.set(true); subCategories.set([]); selectedCategory = null" size="small" />
                    </div>
                    <ng-container *ngTemplateOutlet="dataTable; context: { 
                        $implicit: categories(), 
                        title: 'Categories', 
                        type: 'category',
                        paginator: paginatedCategory(),
                        loading: categoryLoading()
                    }"></ng-container>
                </div>
            </p-card>
        </div>
        <div class="col-span-12 md:col-span-6">
            <p-card styleClass="h-full">
                <div class="flex flex-col gap-3">
                    <div class="flex gap-3 items-center justify-between">
                        <p class="text-xl font-medium">Sub Categories</p>
                        <p-button icon="pi pi-plus" (onClick)="showSubCategoryForm.set(true)" [disabled]="!selectedCategory" size="small" />
                    </div>
                    <ng-container *ngTemplateOutlet="dataTable; context: { 
                        $implicit: subCategories(), 
                        title: 'Sub Categories', 
                        type: 'sub-category',
                        paginator: paginatedSubCategory(),
                        loading: subCategoryLoading()
                    }"></ng-container>
                </div>
            </p-card>
        </div>
    </div>
</div>

<p-dialog [(visible)]="showCategoryForm" styleClass="w-[30rem]" [modal]="true" draggable [resizable]="false" (onHide)="onClickCancel('category')">
    <ng-template #header>
        <div class="inline-flex items-center gap-2">
            <i class="pi pi-info-circle"></i> <span>{{ isEditCategory() ? 'Edit Category' : 'Add Category' }}</span>
        </div>
    </ng-template>
    <ng-template #content>
        <ng-container *ngTemplateOutlet="formDataInput; context: { $implicit: categoryData }"></ng-container>
    </ng-template>
    <ng-template #footer>
        <div class="float-right flex gap-3">
            <p-button label="Cancel" severity="secondary" (onClick)="showCategoryForm.set(false)" />
            <p-button label="Save" (onClick)="onClickSave($event, 'category')" />
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showSubCategoryForm" styleClass="w-[30rem]" [modal]="true" draggable [resizable]="false" (onHide)="onClickCancel('sub-category')">
    <ng-template #header>
        <div class="inline-flex items-center gap-2">
            <i class="pi pi-info-circle"></i> <span>{{ isEditSubCategory() ? 'Edit Sub Category' : 'Add Sub Category' }}</span>
        </div>
    </ng-template>
    <ng-template #content>
        <ng-container *ngTemplateOutlet="formDataInput; context: { $implicit: subCategoryData }"></ng-container>
    </ng-template>
    <ng-template #footer>
        <div class="float-right flex gap-3">
            <p-button label="Cancel" severity="secondary" (onClick)="showSubCategoryForm.set(false)" />
            <p-button label="Save" (onClick)="onClickSave($event, 'sub-category')" />
        </div>
    </ng-template>
</p-dialog>

<ng-template #dataTable let-item let-title="title" let-type="type" let-paginator="paginator" let-loading="loading">
    <div class="flex-1 max-h-[32rem] md:max-h-full overflow-y-auto">
        <p-table [value]="item" [scrollable]="true" scrollHeight="flex" size="small"
            (onPage)="onPageChange($event, type)" 
            [rows]="paginator.itemsPerPage"
            [totalRecords]="paginator.totalItems"
            [first]="(paginator.currentPage - 1) * paginator?.itemsPerPage"
            (selectionChange)="onSelectionChange($event, type)" 
            selectionMode="single" 
            size="small"
            [loading]="loading"
            [showLoader]="false"
            stripedRows 
            showGridlines
            paginator 
            lazy
        >
            <ng-template #header>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th [style]="{ width: '5rem', textAlign: 'center' }">Actions</th>
                </tr>
            </ng-template>
            <ng-template #body let-item>
                <tr class="text-sm" [pSelectableRow]="item">
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <div class="flex flex-row justify-center gap-2">
                            <p-button icon="pi pi-pencil" (onClick)="onClickEditCategory(item, type)" severity="success" size="small" />
                            <p-button icon="pi pi-trash" (onClick)="onClickRemoveCategory($event, item, type)" severity="danger" size="small" />
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="4">
                        <div class="flex justify-center items-center h-50">
                            @if (!selectedCategory) {
                                <span class="text-sm italic">Please select or create a group.</span>
                            } @else {
                                <span class="text-sm italic">No {{ title }} found for <strong>{{ selectedCategory.name }}</strong>.</span>
                            }
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #loadingbody>
                @for (row of utils.tableSkeletonRows; track $index) {
                    <tr>
                        @for (col of [1, 2, 3]; track $index) {
                            <td><p-skeleton height="1.5rem" /></td>
                        }
                    </tr>
                }
            </ng-template>
        </p-table>
    </div>
</ng-template>

<ng-template #formDataInput let-formGroup>
    <div class="flex flex-col gap-5 items-center justify-center mt-1" [formGroup]="formGroup">
        <div class="w-full">
            <p-floatlabel variant="on">
                <input id="name" type="text" pInputText formControlName="name" fluid>
                <label for="name">Name</label>
            </p-floatlabel>
        </div>
        <div class="w-full">
            <p-floatlabel variant="on">
                <textarea id="description" type="text" formControlName="description" [rows]="5" pTextarea fluid></textarea>
                <label for="description">Description</label>
            </p-floatlabel>
        </div>
    </div>
</ng-template>
