<div #viewport class="relative flex flex-1 flex-col gap-4 justify-center items-center h-screen group overflow-hidden select-none"
  [ngClass]="{ 'bg-[var(--p-primary-500)]': !playerContent, 'bg-stone-800': playerContent }">
  <!-- Main Player -->
  <!-- <ng-container *ngIf="currentContent as contentData">
    @switch (contentData?.type) { @case ('design') {
      <app-design-layout-preview 
        class="flex-1 h-full w-full flex items-center justify-center"
        [ngClass]="{ 'opacity-100': isPlay(), 'opacity-0': !isPlay() }"
        [viewport]="viewport"
        [designLayout]="contentData"
        [isPlaying]="isPlay()"
      />
    } @case('playlist') {
      <app-playlist-preview class="relative w-full h-full group bg-stone-800 text-white rounded-lg" [playlist]="contentData" [isAutoPlay]="true" />
    } @default {
      <app-asset-preview class="relative w-full h-full flex items-center justify-center" [asset]="contentData" [autoPlay]="isPlay()" [showControls]="false" />
    } }
  </ng-container> -->

  <ng-container *ngIf="playerContent as data">
    @switch (data.type) {
      @case('asset') {
        <app-asset-preview class="relative w-full h-full flex items-center justify-center" [asset]="data.content" [autoPlay]="true" [showControls]="false" />
      }
    }
  </ng-container>

  <div class="transition duration-500 ease-in-out" *ngIf="showBroadcastMessage as message"
    [ngClass]="{ 'opacity-100': message, 'opacity-0': !message }">
    <app-broadcast-preview />
  </div>

  <ng-container *ngIf="!playerContent">
    <div class="absolute top-0 start-0 flex items-center justify-center p-6">
      <img class="w-30" src="assets/vcastplay.png" alt="vcastplay 2.0 logo" />
    </div>

    @if (isDev()) {
    <div class="absolute top-3 right-3 p-2 flex flex-col items-center gap-3">
      @if (isOnline) {
      <p-chip class="text-xs" [style]="{ 'background-color': 'var(--color-green-200)' }">
        <div class="h-2 w-2 rounded-xl bg-green-600"></div>
        <p class="text-green-600 font-semibold">ONLINE</p>
      </p-chip>
      } @else {
      <p-chip class="text-xs" [style]="{ 'background-color': 'var(--color-red-200)' }">
        <div class="h-2 w-2 rounded-xl bg-red-600"></div>
        <p class="text-red-600 font-semibold">OFFLINE</p>
      </p-chip>
      }
    </div>
    }

    <div class="absolute h-full w-full flex flex-col gap-4 items-center justify-center text-center">
      <p class="text-5xl md:text-8xl font-bold text-white tracking-[1.25rem] md:tracking-[1.75rem]">{{ playerCode }}</p>
      <p class="text-xs md:text-sm text-gray-400">Enter this Player ID in the 
        <a href="http://192.168.4.203:8041/screens/screen-registration" class="hover:text-blue-500 text-white">Registration</a> to register the player.
      </p>
    </div>
  </ng-container>  

  <ng-container *ngIf="isUploading">
    <div class="absolute bottom-0 left-0 flex flex-col gap-4 items-center justify-center text-center z-70 p-2">
      <p class="text-xl font-bold text-white w-full">
        Loading Content...
      </p>
    </div>
  </ng-container>

  <div class="absolute bottom-0 right-0 m-4">
    <p class="text-sm text-white">{{tenantId}}</p>
  </div>
</div>