<div class="flex flex-col gap-1 h-full">
  <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>
  <p-card styleClass="h-full" class="flex-1">
    <ng-template #header>
      <div class="mt-4 px-6">
        <p class="text-2xl font-semibold">{{ pageInfo[0].label }}</p>
      </div>
    </ng-template>
    <ng-template #title>
      <div class="flex flex-col md:flex-row gap-4 items-center">
        <app-asset-filter class="w-full md:w-[25rem]" (filterChange)="onFilterChange($event)" />
        <div class="flex lg:hidden flex gap-2 w-full">
          <div class="md:ml-auto flex items-center gap-2 block lg:hidden">
            <p class="text-base font-normal">View:</p>
            <p-selectbutton
              [options]="assetViewModes"
              [formControl]="assetViewModeCtrl"
              optionLabel="label"
              optionValue="label"
              [allowEmpty]="false"
            >
              <ng-template #item let-item>
                <i [class]="item.icon" [pTooltip]="item.label" tooltipPosition="bottom"></i>
              </ng-template>
            </p-selectbutton>
          </div>
          <p-button class="lg:hidden" pTooltip="Upload" tooltipPosition="bottom" (onClick)="onClickAddNew()" icon="pi pi-upload" size="small" />
          <p-button (onClick)="showPrompt.set(true)" class="lg:hidden" severity="info"
            pTooltip="Generate AI" tooltipPosition="bottom" icon="pi pi-ethereum" size="small" />
          <p-button (onClick)="otherMenu.toggle($event)" class="lg:hidden"
            pTooltip="More" tooltipPosition="bottom" icon="pi pi-ellipsis-v" size="small" text />
        </div>
        <div class="ml-auto items-center gap-2 hidden lg:flex">
          <p-button (onClick)="onClickAddNew()" label="Upload" icon="pi pi-upload" />
          <p-button (onClick)="showPrompt.set(true)" label="Generate AI" icon="pi pi-ethereum" severity="info" outlined />
          <p-button (onClick)="otherMenu.toggle($event)" icon="pi pi-ellipsis-v" text />
        </div>
      </div>
    </ng-template>

    <div class="flex flex-col gap-4 h-full mt-4 md:mt-0">
      @if (isMultipleSeletion) {
        <div class="flex gap-2 items-center">
          <p>Select All</p>
          <p-checkbox binary />
        </div>
      }
      <div class="relative flex lg:hidden flex-1 overflow-y-auto">
        <div class="absolute top-0 left-0 h-full w-full">
          <div class="grid-cols-3 md:grid-cols-4 flex-col gap-4" [ngClass]="{ 'grid': assetViewModeSignal() == 'Grid', 'flex': assetViewModeSignal() == 'List' }">
            @if (!isLoading()) {
              @for (item of assets(); track $index) {
              <app-asset-list-item [asset]="item" [tenantId]="tenantId" [showDetails]="!isMultipleSeletion"
                [disableDrag]="true" [showOptions]="!isMultipleSeletion" [isSelected]="isSelected(item.id)" 
                  (onPropertiesChange)="onAssetItemChange($event)" [actionBtn]="actionBtn" />
              } @empty {
                <div class="flex justify-center items-center p-5 h-100">
                  <p>No assets found</p>
                </div>
              }
            } @else {
              @for (item of utils.tableSkeletonRows; track $index) {
                <p-skeleton height="12rem" />
              }
            }
          </div>
        </div>
      </div>

      <div class="hidden lg:block relative flex-1">
        <div class="absolute top-0 left-0 h-full w-full">
          @if (isLoading()) { <p-progressbar mode="indeterminate" /> }
          <p-table
            [(selection)]="selectedArrAssets"
            [value]="assets()"
            selectionMode="multiple"
            [scrollable]="true"
            scrollHeight="flex"
            (onPage)="onPageChange($event)"
            size="small"
            stripedRows
          >
            <ng-template #header>
              <tr>
                <th style="width: 2rem"><p-tableHeaderCheckbox /></th>
                <th [style]="{ width: '80px' }">Preview</th>
                <th>Name</th>
                <th>Type</th>
                <th>Orientation</th>
                <th>Category</th>
                <th>Duration</th>
                <th>Last Update</th>
                <th><div class="text-center">Actions</div></th>
              </tr>
            </ng-template>
            <ng-template #body let-item>
              <tr class="text-sm">
                <td><p-tableCheckbox [value]="item" /></td>
                <td>
                  <div class="relative h-15">
                    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
                      @if(['video', 'image'].includes(item.type)) {
                      <img [src]="publicApi + 'assets/' + tenantId + '/thumbnails/' + item.name.replace('.mp4', '.jpg')" class="max-h-full object-contain"
                        [alt]="item.name" loading="lazy" (error)="utils.onImageError($event)"
                      />
                      } @else { 
                        @switch (item.type) { 
                          @case('audio') { <i class="pi pi-volume-up" [style]="{ 'font-size': '2rem' }"></i> } 
                          @case('html') { <i class="pi pi-file" [style]="{ 'font-size': '2rem' }"></i> }
                          <!-- @case('widget') { <i class="pi pi-layout" [style]="{ 'font-size': '2rem' }"></i> }  -->
                          @case('link') { 
                            @if (utils.getLinkType(item.link) == 'facebook') {
                              <img class="w-12" src="assets/socials/facebook.png" [alt]="item.name">
                            } @else if (utils.getLinkType(item.link) == 'youtube') {
                              <img class="w-12" src="assets/socials/youtube.png" [alt]="item.name">
                            } @else {
                              <i class="pi pi-globe" [style]="{ 'font-size': '2rem' }"></i> 
                            }
                          }
                        } 
                      }
                    </div>
                  </div>
                </td>
                <td>
                  <div class="flex flex-col gap-1">
                    <p class="font-semibold">{{ item.name }}</p>
                    @if(['video', 'image'].includes(item.type)) {
                      <div class="flex gap-2">
                        <p class="italic">{{ utils.formatSize(item.sizeKb ?? 0) }}</p>
                        <p class="italic">({{ item.dimension }})</p>
                      </div>
                    }
                  </div>
                </td>
                <td><p-tag [value]="item.type.toUpperCase()" severity="info" /></td>
                <td><p class="font-medium">{{ item.orientation.toUpperCase() ?? '-' }}</p></td>
                <td>
                  @if (!item.category || !item.subCategory) {
                    <p class="text-red-500 italic">No category available</p>
                  } @else {
                    <div class="flex flex-col">
                      <span class="font-semibold text-gray-900">{{ item.category.name }}</span>
                      <span class="text-gray-500">{{ item.category.name }}</span>
                    </div>
                  }
                </td>
                <td>{{ utils.timeConversion(item.duration) }}</td>
                <td>{{ utils.onGetLastUpdatedLabel(item.updatedAt) }}</td>
                <td>
                  <div class="flex flex-row gap-2 items-center justify-center">
                    <ng-container
                      *ngTemplateOutlet="actionBtn; context: { $implicit: item }"
                    ></ng-container>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template #emptymessage>
              <tr>
                <td colspan="9" [height]="20">
                  <div class="flex justify-center p-5"><p class="italic">No Data found</p></div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <ng-template #footer>
      <div class="flex flex-col md:flex-row items-center justify-between pt-4 md:pt-0">
        <div class="flex gap-2 text-sm">
          <p>Showing {{ (pagination().currentPage - 1) * pagination().itemsPerPage + 1 }} 
              to {{ (pagination().currentPage - 1) * pagination().itemsPerPage + pagination().itemCount }} of {{ pagination().totalItems }} results</p>
          @if (hasSelectedAssets) {
            <p class="text-red-500 italic">Selected: {{ selectedArrAssets().length }} asset(s)</p>
          }
        </div>
        <app-paginator [pagination]="pagination" (onPageChange)="onPageChange($event)" />
      </div>
    </ng-template>
  </p-card>
</div>

<p-dialog header="Preview" [(visible)]="isShowPreview" [style]="{ width: '50rem' }" (onHide)="selectedAsset.set(null)" [resizable]="false" modal>
  <div class="relative aspect-video border-2 border-[var(--p-surface-300)] dark:border-[var(--p-surface-700)] 
    bg-stone-800 dark:bg-stone-900 text-white rounded-lg group">
    <ng-container *ngIf="selectedAsset() && isShowPreview()">
      <app-asset-preview class="absolute h-full w-full flex items-center justify-center bg-stone-800"
        [asset]="selectedAsset()" [link]="publicApi + 'assets/' + tenantId + '/' + selectedAsset().name" [showControls]="true" />
    </ng-container>
  </div>
</p-dialog>

<app-asset-upload-file [dialog]="isShowUpload" [isEdit]="isEdit" (isShowDialogChange)="isShowDialogChange($event)" [asset]="selectedAsset()" />

<app-asset-ai-generate [showPrompt]="showPrompt" />

<app-asset-to-playlist [dialog]="addToPlaylist" (onSelectedPlaylistChange)="onSelectedPlaylistChange($event)"/>

<app-audience-tag-filters [isShowAudienceTag]="showAudienceTag" (onAudienceTagChange)="onAudienceTagChange($event)" [isDialog]="true" />

<ng-template #actionBtn let-item>
  <p-button (onClick)="onClickEdit(item)" pTooltip="Edit" tooltipPosition="bottom" icon="pi pi-pencil" severity="success" size="small" />
  <p-button (onClick)="onClickOpenOptions($event, item, actionMenu)" pTooltip="More" tooltipPosition="bottom" icon="pi pi-cog" severity="contrast" size="small" />
</ng-template>

<p-menu #actionMenu [model]="actionItems" [popup]="true" appendTo="body" />
<p-menu #otherMenu [model]="otherItems" [popup]="true" appendTo="body" />