<div class="flex flex-col h-full">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>
    <p-card styleClass="h-full" class="flex-1">
        <ng-template #header>
            <div class="mt-4 px-6">
                <p class="text-2xl font-semibold">{{ pageInfo[0].label }}</p>
            </div>
        </ng-template>
        <ng-template #title>
            <div class="flex gap-4 items-center mb-2">
                <app-schedule-filter class="w-full md:w-[25rem]" (filterChange)="onFilterChange($event)" />
                <div class="flex gap-4 ml-auto">
                    <p-button class="hidden md:block" (onClick)="onClickAddNew()" label="New" icon="pi pi-plus"></p-button>
                    <p-button class="md:hidden" (onClick)="onClickAddNew()" label="" icon="pi pi-plus" />
                </div>
            </div>
        </ng-template>
        
        <div class="flex flex-col gap-4 h-full mt-4 md:mt-0">
            <div class="hidden lg:block relative flex-1">
                <div class="absolute top-0 left-0 h-full w-full">
                    <p-table
                        [value]="schedules()" 
                        [loading]="isLoading()"
                        selectionMode="single"
                        [scrollable]="true" 
                        scrollHeight="flex"
                        size="small"
                        stripedRows
                        lazy
                    >
                        <ng-template #header>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Date Range</th>
                                <th>Status</th>
                                <th>Created On</th>
                                <th><div class="text-center">Actions</div></th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-item>
                            <tr class="text-sm">
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.start }} - {{ item.end }}</td>
                                <td>
                                    <p-tag [value]="item.approvalStatus || 'PENDING'" [severity]="utils.getStatus(item.approvalStatus || 'PENDING')" 
                                        [icon]="'pi ' + utils.getIcon(item.approvalStatus || 'PENDING')" />
                                </td>
                                <td>{{ utils.onGetLastUpdatedLabel(item.updatedAt) }}</td>
                                <td>
                                    <div class="flex flex-row justify-center gap-2">
                                        <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: item }"></ng-container>
                                    </div> 
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="relative flex lg:hidden flex-1 overflow-y-auto">
                <div class="absolute top-0 left-0 h-full w-full">
                    @if (!isLoading()) {
                        @for (item of schedules(); track $index) {
                            <app-schedule-list-item [schedule]="item" [actionBtn]="actionBtn" />
                        } @empty {
                            <div class="flex justify-center items-center p-5 h-100">
                                <p>No screens found</p>
                            </div>
                        }
                    } @else {
                        @for (item of utils.tableSkeletonRows; track $index) {
                            <p-skeleton height="5rem" />
                        }
                    }
                </div>
            </div>
        </div>
    </p-card>
</div>

<ng-template #actionBtn let-item>
    <p-button (onClick)="onClickEdit(item)" [icon]="!['approved', 'disapproved'].includes(item.status) ? 'pi pi-pencil' : 'pi pi-eye'" 
        [pTooltip]="!['approved', 'disapproved'].includes(item.status) ? 'Edit' : 'View'"  tooltipPosition="bottom" severity="success" size="small" />
    <p-button icon="pi pi-check-circle" (onClick)="onClickShowApproved($event, item, null)" disabled pTooltip="Approval" tooltipPosition="bottom"  severity="info" size="small" />
    <p-button icon="pi pi-desktop" pTooltip="Set to screen" tooltipPosition="bottom" severity="warn" size="small" [disabled]="item.status == 'pending'" />
    <p-button icon="pi pi-history" pTooltip="Playlist Usage" tooltipPosition="bottom" severity="danger" size="small" [disabled]="item.status == 'pending'" />
    <p-button (onClick)="onClickOpenOptions($event, item, actionMenu)" pTooltip="More" tooltipPosition="bottom" icon="pi pi-cog" severity="contrast" size="small" />
</ng-template>

<p-menu #actionMenu [model]="actionItems" [popup]="true" appendTo="body" />