<div class="flex flex-col gap-1 h-full">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>
    <p-card styleClass="h-full" class="flex-1">
        <ng-template #header>
            <div class="mt-4 px-6">
                <p class="text-2xl font-semibold">{{ pageInfo[0].label }}</p>
            </div>
        </ng-template>
        <ng-template #title>
            <div class="flex gap-4 items-center mb-2">
                <app-playlist-filter class="w-full md:w-[25rem]" (filterChange)="onFilterChange($event)" />
                <div class="gap-2 ml-auto hidden md:flex">
                    <p-button label="Generate" icon="pi pi-images" (onClick)="onClickGetContents()" outlined />
                    <p-button (onClick)="onClickAddNew()" label="New" icon="pi pi-plus"></p-button>
                </div>
                <div class="flex gap-2 ml-auto md:hidden">
                    <p-button icon="pi pi-images" (onClick)="onClickGetContents()" outlined />
                    <p-button (onClick)="onClickAddNew()" label="" icon="pi pi-plus" />
                </div>
            </div>
        </ng-template>
        <div class="flex flex-col gap-4 h-full mt-4 md:mt-0">
            <div class="hidden lg:block relative flex-1">
                <div class="absolute top-0 left-0 h-full w-full">
                    @if (isLoading()) { <p-progressbar mode="indeterminate" /> }
                    <p-table
                        [value]="playlists()" 
                        selectionMode="single"
                        [scrollable]="true" 
                        scrollHeight="flex"
                        size="small"
                        stripedRows
                        lazy
                    >
                        <ng-template #header>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Last Update</th>
                                <th>
                                    <div class="text-center">Actions</div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-item>
                            <tr class="text-sm">
                                <td>
                                    <div class="flex items-center gap-2">
                                        <i class="pi" [pTooltip]="item.isActive ? 'Active' : 'Inactive'" tooltipPosition="bottom"
                                            [ngClass]="{ 'pi-check-circle text-green-500': item.isActive, 'pi-ban text-red-500': !item.isActive }"></i>
                                        <p>{{item.name}}</p>
                                    </div>
                                </td>
                                <td>{{ item.description }}</td>
                                <td><p-tag [value]="item.isAuto ? 'Auto' : 'Manual'" [severity]="item.isAuto ? 'warn' : 'info'" /></td>
                                <td><p-tag [value]="item.approvalStatus?.toUpperCase() || 'PENDING'" [icon]="'pi ' + utils.getIcon(item.approvalStatus || 'PENDING')"
                                    [severity]="utils.getStatus(item.approvalStatus || 'PENDING')" /></td>
                                <td><p class="text-sm">{{ utils.onGetLastUpdatedLabel(item.updatedAt) }}</p></td>
                                <td>
                                    <div class="flex flex-row justify-center gap-2">
                                        <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: item }"></ng-container>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="6" [height]="20">
                                    <div class="flex justify-center p-5"><p class="italic">No Data found</p></div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
                
            <div class="relative flex lg:hidden flex-1 overflow-y-auto w-full h-full">
                <div class="absolute top-0 left-0 h-full w-full">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        @if (!isLoading()) {
                            @for (item of playlists(); track $index) {
                                <app-playlist-list-item [playlist]="item" [actionBtn]="actionBtn" />
                            } @empty {
                                <div class="flex justify-center items-center p-5 h-100">
                                    <p>No playlists found</p>
                                </div>
                            }
                        } @else {
                            @for (item of utils.tableSkeletonRows; track $index) {
                                <p-skeleton height="12rem" />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <ng-template #footer>
            <div class="flex flex-col md:flex-row items-center justify-between pt-4 md:pt-0">
                <p class="text-sm">Showing {{ (pagination().currentPage - 1) * pagination().itemsPerPage + 1 }} 
                    to {{ (pagination().currentPage - 1) * pagination().itemsPerPage + pagination().itemCount }} of {{ pagination().totalItems }} results</p>
                <app-paginator [pagination]="pagination" (onPageChange)="onPageChange($event)" />
            </div>
        </ng-template>
    </p-card>
</div>

<ng-template #actionBtn let-item>
    <p-button (onClick)="onClickEdit(item)" icon="pi pi-pencil" pTooltip="Edit" 
        tooltipPosition="bottom" severity="success" size="small" [disabled]="['approved', 'disapproved'].includes(item.status)" />
    <p-button (onClick)="onClickShowApproved($event, item, null)" icon="pi pi-check-circle" pTooltip="Approval" tooltipPosition="bottom" disabled severity="info" size="small" />
    <p-button (onClick)="onClickSetToScreen($event, item)" icon="pi pi-desktop" pTooltip="Set to screen" tooltipPosition="bottom" severity="warn" size="small" [disabled]="item.status == 'pending'" />
    <p-button icon="pi pi-history" pTooltip="Playlist Usage" tooltipPosition="bottom" severity="danger" size="small" [disabled]="item.status == 'pending'" />
    <p-button (onClick)="onClickOptions($event, item, actionMenu)" pTooltip="More" tooltipPosition="bottom" icon="pi pi-cog" severity="contrast" size="small" />
</ng-template>

<app-set-to-screen [dialog]="setToScreen" [content]="selectedPlaylist" (onScreenChange)="selectedPlaylist.set(null)" />

<p-dialog header="Preview" [(visible)]="showPreview" [style]="{ width: '50rem' }" (onHide)="playlist.set(null)" [resizable]="false" modal>
    <div class="relative flex h-full w-full aspect-video">
        <ng-container *ngIf="playlist() as playlist">                
            <app-playlist-player class="flex-1 border-2 border-[var(--p-surface-300)] group bg-stone-800 text-white rounded-lg" 
                [playlist]="playlist" [isAutoPlay]="true" />
        </ng-container>
    </div>
</p-dialog>

<p-menu #actionMenu [model]="actionItems" [popup]="true" appendTo="body" />

<app-playlist-auto-generate [dialog]="showGenerate" (onAutoGenerateChange)="onAutoGenerateChange($event)" />