<div class="grid grid-cols-12 gap-6 items-center">
    <div class="col-span-12 lg:col-span-6 flex">
        <div class="flex gap-3 items-center w-full" [formGroup]="selectedContentForm">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <p-button label="Assign Content" severity="info" (onClick)="onClickOpenContents()" size="small" outlined />
                </p-inputgroup-addon>
                <input id="name" type="text" placeholder="Content" formControlName="name" pSize="small" readonly pInputText>
                <p-inputgroup-addon>
                    <p-button (onClick)="onClickApplyContents()" [disabled]="selectedContentForm.invalid" size="small">
                        <div class="flex gap-2">
                            <img src="assets/vcastplay-logo.png" alt="vcastplay-icon" width="20">
                            <p>Apply</p>
                        </div>
                    </p-button>
                </p-inputgroup-addon>
            </p-inputgroup>
        </div>
    </div>
    <div class="col-span-12 lg:col-span-6">
        <div class="flex gap-3 items-center justify-center lg:justify-end">
            <p class="text-sm">Controls:</p>
            <div class="flex-wrap flex gap-3">
                <p-button (onClick)="onClickOpenScreen()"
                    icon="pi pi-play" pTooltip="Open" tooltipPosition="bottom" size="small" fluid />
                <p-button (onClick)="onClickCloseScreen()"
                    icon="pi pi-times-circle" pTooltip="Close" tooltipPosition="bottom" size="small" fluid />
                <p-button (onClick)="onClickRestartScreen()"
                    icon="pi pi-refresh" pTooltip="Restart" tooltipPosition="bottom" size="small" fluid />
                <p-button (onClick)="onClickShutdownScreen()"
                    icon="pi pi-power-off" pTooltip="Shutdown" tooltipPosition="bottom" size="small" fluid />
                <p-button (onClick)="onClickBroadCastMessage()" 
                    icon="pi pi-megaphone" pTooltip="Broadcast Message" tooltipPosition="bottom" size="small" fluid />
                <p-button (onClick)="onClickOpenSettings()" 
                    icon="pi pi-cog" pTooltip="Settings" tooltipPosition="bottom" size="small" fluid /> 
            </div>
        </div>
    </div>
</div>

<!-- [selectedTypes]="['asset', 'playlist', 'design', 'schedule']" -->
<app-content-selection [showContents]="showContents" #contents [selectedTypes]="['asset']" (contentType)="onContentTypeChange($event)" 
    (selectedContents)="onSelectionChange($event)" />