<p-dialog
    header="Settings"
    [(visible)]="showSettings"
    styleClass="w-[50rem] h-auto"
    [resizable]="false"
    [modal]="true"
    [draggable]="false"
>
    <!-- <ng-container *ngIf="screen">
        @if (['desktop'].includes(screen?.type)) {
            <p-fieldset legend="Display">
                <form [formGroup]="settingsForm" class="grid grid-cols-12 gap-4">
                    <div class="col-span-4">
                        <p-floatlabel variant="on">
                            <p-select [options]="displays" optionLabel="deviceName" optionValue="deviceName" formControlName="mainDisplay" fluid />
                            <label for="mainDisplay">Main Display</label>
                        </p-floatlabel>
                    </div>
                    <div class="col-span-4 flex justify-between gap-4">
                        <p-floatlabel class="w-full" variant="on">
                            <p-inputnumber formControlName="width" inputId="width" [min]="640" [readonly]="fullscreenMode"
                                [useGrouping]="false" [inputStyle]="{ width: '5rem' }" showButtons fluid />
                            <label for="width">Width</label>
                        </p-floatlabel>
                        <p-floatlabel class="w-full" variant="on">
                            <p-inputnumber formControlName="height" inputId="height" [min]="480" [readonly]="fullscreenMode"
                                [useGrouping]="false" [inputStyle]="{ width: '5rem' }" showButtons fluid />
                            <label for="height">Height</label>
                        </p-floatlabel>
                    </div>
                    <div class="col-span-4 flex justify-between gap-4">
                        <p-floatlabel class="w-full" variant="on">
                            <p-inputnumber formControlName="left" inputId="left" [min]="0" [readonly]="fullscreenMode"
                                [useGrouping]="false" [inputStyle]="{ width: '5rem' }" showButtons fluid />
                            <label for="left">Left</label>
                        </p-floatlabel>
                        <p-floatlabel class="w-full" variant="on">
                            <p-inputnumber formControlName="top" inputId="top" [min]="0" [readonly]="fullscreenMode"
                                [useGrouping]="false" [inputStyle]="{ width: '5rem' }" showButtons fluid />
                            <label for="top">Top</label>
                        </p-floatlabel>
                    </div>
                </form>
            </p-fieldset>
        }
    </ng-container> -->
    <p-fieldset legend="Configuration">
        <form [formGroup]="settingsForm" class="flex flex-col gap-4">
            <div class="flex items-center gap-2">
                <div class="flex flex-col">
                    <p class="font-semibold">Display Status</p>
                    <p class="text-sm font-thin">Toggles the screen display status via network.</p>
                </div>
                <p-toggleswitch class="ml-auto" formControlName="display" />
            </div>
            <div class="flex items-center gap-2">
                <div class="flex flex-col">
                    <p class="font-semibold">Audio</p>
                    <p class="text-sm font-thin">Toggles the screen audio.</p>
                </div>
                <p-toggleswitch class="ml-auto" formControlName="audio" />
            </div>
            <div class="flex items-center gap-2">
                <div class="flex flex-col">
                    <p class="font-semibold">Always on Top</p>
                    <p class="text-sm font-thin">Displays the screen always on top.</p>
                </div>
                <p-toggleswitch class="ml-auto" formControlName="alwaysOnTop" />
            </div>
            <div class="flex items-center gap-2">
                <div class="flex flex-col">
                    <p class="font-semibold">Fullscreen Mode</p>
                    <p class="text-sm font-thin">Displays the screen in fullscreen mode.</p>
                </div>
                <p-toggleswitch class="ml-auto" formControlName="fullscreen" />
            </div>
            <div class="flex items-center gap-2">
                <div class="flex flex-col">
                    <p class="font-semibold">Sync Time With Internet</p>
                    <p class="text-sm font-thin">Syncs the screen time with the internet.</p>
                </div>
                <p-toggleswitch class="ml-auto" formControlName="syncTime" />
            </div>
            <div class="flex items-center gap-2">
                <div class="flex flex-col">
                    <p class="font-semibold">Content Playback Logging</p>
                    <p class="text-sm font-thin">Tracks which content was played, when, and for how long.</p>
                </div>
                <p-toggleswitch class="ml-auto" formControlName="playbackLogging" />
            </div>
        </form>
    </p-fieldset>
    <p-fieldset legend="Preventive Maintenance">
        <div class="flex items-center gap-3">
            <p class="text-sm">Clears the screen contents and schedules for preventive maintenance reasons.</p>
            <p-button (onClick)="onClickClearAll()" class="ml-auto" label="Clear" />
        </div>
    </p-fieldset>
    <ng-template #footer>
        <p-button label="Close" severity="secondary" (onClick)="showSettings.set(false)" />
        <p-button label="Apply" severity="success" (onClick)="onClickAppy()" />
    </ng-template>
</p-dialog>