<p-drawer [(visible)]="isShowInfo" styleClass="!w-full md:!w-90 lg:!w-[40rem]" position="right" appendTo="body" (onHide)="isShowInfoChange.emit($event)">
    <ng-template #header>
        <p class="text-xl font-semibold">Details</p>
    </ng-template>
    <ng-template #content>
        <div class="flex flex-col gap-4">
            <ng-container *ngIf="screen.info as info">
                @switch (screen.type) {
                    @case ('web') {
                        <p class="text-sm"><span class="font-semibold">Browser Type: </span>{{ info.userAgent }}</p>
                        <p class="text-sm"><span class="font-semibold">Platform: </span>{{ info.platform }}</p>
                        <p class="text-sm"><span class="font-semibold">Version: </span>{{ info.appVersion }}</p>
                    }
                    @case ('desktop') {
                        <p class="text-sm"><span class="font-semibold">IP Address: </span>{{ info.ip }}</p>
                        <p class="text-sm"><span class="font-semibold">Operating System: </span>{{ info.os }}</p>
                        <p class="text-sm"><span class="font-semibold">CPU: </span>{{ info.cpu }} <span class="font-bold">({{ info.cpuTemp || '0 \u00B0C' }})</span></p>
                        <p class="text-sm"><span class="font-semibold">Memory (RAM): </span>{{ info.ram }}</p>
                        <ng-container *ngIf="info.graphics as gpu">
                            <p class="text-sm"><span class="font-semibold">Graphics Card: </span>{{ gpu.controllers[0].model }}</p>
                        </ng-container>
                        <ng-container *ngIf="info.disk as disks">
                            <p class="text-sm"><span class="font-semibold">Storage:</span></p>
                            <div class="flex flex-col lg:flex-row items-center text-sm justify-between gap-3 select-none">
                                @for (disk of disks; track $index) {
                                    <div class="flex gap-3 border border-[var(--p-surface-300)] w-full p-1 
                                        hover:bg-[var(--p-surface-100)] hover:dark:bg-[var(--p-surface-700)] rounded-lg p-2">
                                        <div class="flex flex-col gap-2 w-full">
                                            <p>Drive {{ disk.mount }}</p>
                                            <p-progressbar [value]="getDiskPercentage(disk) | number: '1.0-0'" valueStyleClass="h-10" [showValue]="false" />
                                            <p class="text-xs">{{ utils.formatSize(disk.free) }} free of {{ utils.formatSize(disk.size) }}</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </ng-container>
                    }
                }
            </ng-container>
            @if (!isAdmin) {
                <p-divider [align]="'left'"><span class="font-semibold">Operational Schedules</span></p-divider>
                <div class="flex flex-col gap-4">
                    @if (screen.isAllDay) {
                        <p-tag value="All Day" severity="success" />
                    } @else {
                        <div class="flex flex-col gap-5">
                            <div class="flex flex-col gap-4">
                                <p class="text-xs italic">Weekdays:</p>
                                <div class="flex flex-wrap gap-3">
                                    @for (days of screen.weekdays; track $index) {
                                        <p-chip [label]="days" class="text-sm" />
                                    } @empty {
                                        <p class="italic text-gray-400 text-sm">No Data</p>
                                    }
                                </div>
                            </div>
                            <div class="flex flex-col gap-3">
                                <p class="text-xs italic">Hours:</p>
                                <div class="flex whitespace-nowrap gap-3 w-full overflow-x-auto min-w-full">
                                    @for (hour of screen.hours; track $index) {
                                        <p-chip [label]="hourFormat(hour)" class="text-sm" />
                                    } @empty {
                                        <p class="italic text-gray-400 text-sm">No Data</p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <p-divider [align]="'left'"><span class="font-semibold">Geographic</span></p-divider>
                <div class="flex flex-col gap-6">
                    <div class="flex items-center justify-between">
                        <p class="text-sm font-semibold">Location:</p>
                        <p class="text-sm font-normal">{{ screen.location || '-' }}</p>
                    </div>
                    <div class="flex items-center justify-between">
                        <p class="text-sm font-semibold">Landmarks:</p>
                        <p class="text-sm font-normal">{{ screen.landmark || '-' }}</p>
                    </div>
                </div>
                <p-divider [align]="'left'"><span class="font-semibold">Address</span></p-divider>
                <div class="flex flex-col gap-3">
                    <div class="flex gap-3">
                        <i class="pi pi-map-marker"></i>
                        <p class="text-sm font-semibold">{{ screen.fullAddress || '-' }}</p>
                    </div>
                    <app-mapmarkers [ngClass]="{ 'h-30': screen.type == 'desktop', 'h-50': screen.type == 'web' }" [markers]="[ screen ]" 
                        [zoom]="17" [readOnly]="true" />
                </div>
            }
        </div>
    </ng-template>
</p-drawer>