<p-dialog
    [(visible)]="dialog"
    header="Add Content"
    [style]="{ width: '40rem' }"
    [draggable]="false"
    closable
    modal
>
    <div class="flex flex-col gap-4" [formGroup]="contentForm">
        <div class="grid grid-cols-12 items-center gap-4 py-2">
            <p-inputgroup class="col-span-9 w-full" formGroupName="content">
                <p-inputgroup-addon>
                    <i class="pi pi-file"></i>
                </p-inputgroup-addon>
                <p-floatlabel variant="on">
                    <input type="text" placeholder="Content" formControlName="name" readonly pInputText fluid>
                </p-floatlabel>
                <p-inputgroup-addon>
                    <p-button (onClick)="showContents.set(true)" icon="pi pi-search" />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-floatlabel class="col-span-3 w-full" variant="on">
                <p-select inputId="color" formControlName="color" [options]="filteredColor()" [ngClass]="{ 'ng-dirty ng-invalid': contentForm.invalid }"
                    optionLabel="text" optionValue="hex" appendTo="body" fluid>
                    <ng-template #selectedItem let-color>
                        <div class="flex items-center gap-2">
                            <div class="w-5 h-5" [style.background-color]="color.hex"></div>
                            <p class="capitalize">{{ color.text }}</p>
                        </div>
                    </ng-template>
                    <ng-template #item let-color>
                        <div class="flex items-center gap-2">
                            <div class="w-5 h-5" [style.background-color]="color.hex"></div>
                            <p class="capitalize">{{ color.text }}</p>
                        </div>
                    </ng-template>
                </p-select>
                <label for="color">Color</label>
            </p-floatlabel>
        </div>
        <div class="flex gap-4">
            <p-floatlabel class="w-full" variant="on">
                <p-datepicker
                    [ngClass]="{ 'ng-invalid ng-dirty': contentForm.errors?.['startAfterEnd'] }"
                    inputId="startDate"
                    formControlName="start"
                    appendTo="body"
                    readonlyInput
                    showIcon
                    fluid
                />
                <label for="startDate">Start Date*</label>
            </p-floatlabel>
            <p-floatlabel class="w-full" variant="on">
                <p-datepicker
                    [ngClass]="{ 'ng-invalid ng-dirty': contentForm.errors?.['startAfterEnd'] }"
                    inputId="endDate"
                    formControlName="end"
                    appendTo="body"
                    readonlyInput
                    showIcon
                    fluid
                />
                <label for="endDate">End Date*</label>
            </p-floatlabel>
            @if (contentForm.errors?.['startAfterEnd']) {
                <p class="italic text-sm text-red-400">*Start Date must be before End Date</p>
            }
        </div>
        <app-weekday-hour-selection [formGroup]="contentForm" [showAllDay]="true" />
    </div>
    <ng-template #footer>
        <p-button (onClick)="onCloseDialog()" label="Cancel" severity="secondary" text />
        <p-button (onClick)="onAddContent()" label="Save" severity="success" [disabled]="contentForm.invalid" />
    </ng-template>
</p-dialog>

<app-content-selection [showContents]="showContents" #contents [selectedTypes]="['asset', 'playlist']" (selectedContents)="onSelectionChange($event)" />