<div class="flex flex-col gap-1 h-full relative">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>

    <p-card styleClass="h-full" class="flex-1">
        <ng-template #title>
            <div class="flex gap-2">
                <div class="flex items-center gap-4">
                    <p-button (onClick)="onClickCancel()" icon="pi pi-arrow-left" pTooltip="Back" tooltipPosition="bottom" size="small" text />
                    <p class="text-xl font-semibold">Assets Details</p>
                </div>
                
                <div class="flex ml-auto gap-2">
                    <p-button class="hidden md:block" (onClick)="onClickDelete($event)" label="Delete" icon="pi pi-trash" severity="danger" text />
                    <p-button class="block md:hidden" (onClick)="onClickDelete($event)" icon="pi pi-trash" severity="danger" 
                        pTooltip="Delete" tooltipPosition="bottom" text />
                    <p-button class="hidden md:block" (onClick)="onClickSave($event)" label="Save" icon="pi pi-save" />
                    <p-button class="block md:hidden" (onClick)="onClickSave($event)" icon="pi pi-save" pTooltip="Save" tooltipPosition="bottom" />
                </div>
            </div>
        </ng-template>
        <div class="grid grid-cols-12 gap-4 flex-1 h-full w-full pt-3">
            <div class="col-span-12 md:col-span-6 lg:col-span-7">
                <div class="relative h-80 md:h-full w-full">
                    <app-asset-preview class="h-full w-full flex items-center justify-center bg-stone-800"
                        [asset]="asset" [link]="publicApi + 'assets/' + tenantId + '/' + asset.name" [showControls]="true" />
                </div>
            </div>
            <div class="flex flex-col gap-4 col-span-12 md:col-span-6 lg:col-span-5 pb-10 md:pb-0">
                <div class="flex flex-col border border-gray-200 dark:border-gray-700 rounded">
                    <span class="flex items-center justify-between p-4 border-b border-gray-200 dark:border-gray-700 bg-gray-200 dark:bg-gray-800">
                        File Info
                        <p-tag [value]="asset.type.toUpperCase() || 'N/A'" severity="info" />
                    </span>
                    <form class="flex flex-col gap-4 p-4" [formGroup]="assetForm">
                        <p-floatlabel variant="on">
                            <input id="name" type="text" pInputText formControlName="name" readonly fluid>
                            <label for="name">Name</label>
                        </p-floatlabel>

                        @if (asset.link) {
                            <p-floatlabel variant="on">
                                <input id="link" type="text" pInputText formControlName="link" placeholder="Link" fluid>
                                <label for="link">Link</label>
                            </p-floatlabel>
                        }

                        <div class="grid grid-cols-2 gap-4">
                            <p-select id="category" [options]="categoryOptions.items()" optionLabel="name" optionValue="id" formControlName="categoryId" appendTo="body" 
                                [ngClass]="{ 'ng-invalid ng-dirty': formControl('categoryId').invalid && formControl('categoryId').touched }"
                                [loading]="categoryOptions.loader" (onChange)="onLoadSubCategories($event.value)" placeholder="Category"
                                (onLazyLoad)="onLazyLoadCategories($event)" [virtualScrollItemSize]="38" virtualScroll filter fluid lazy />

                            <p-select id="subCategory" [options]="subCategoryOptions.items()" optionLabel="name" optionValue="id" formControlName="subCategoryId" appendTo="body"
                                [ngClass]="{ 'ng-invalid ng-dirty': formControl('subCategoryId').invalid && formControl('subCategoryId').touched }"
                                [loading]="subCategoryOptions.loader" (onLazyLoad)="onLazyLoadSubCategories($event)" placeholder="Sub Category"
                                [virtualScrollItemSize]="38" virtualScroll filter fluid lazy />
                        </div>
                        
                        <p-floatlabel variant="on">
                            <p-select id="orientation" [options]="utils.orientations()" formControlName="orientation"  
                                optionLabel="label" optionValue="value" readonly fluid />
                            <label for="orientation">Orientation</label>
                        </p-floatlabel>

                        <p-floatlabel variant="on">
                            <input id="dimension" type="text" pInputText formControlName="dimension" readonly fluid>
                            <label for="dimension">Dimension</label>
                        </p-floatlabel>

                        <div class="grid grid-cols-2 gap-4">
                            <p-inputgroup>
                                <p-floatlabel variant="on">
                                    <input id="sizeKb" type="text" pInputText formControlName="sizeKb" readonly fluid>
                                    <label for="sizeKb">Size (KB)</label>
                                </p-floatlabel>
                                <p-inputgroup-addon>KB</p-inputgroup-addon>
                            </p-inputgroup>

                            <p-floatlabel variant="on">
                                <p-inputmask styleClass="w-full" formControlName="duration" mask="99:99:99" 
                                    placeholder="hh:mm:ss" [readonly]="asset.type !== 'image'" [ngClass]="{ 'ng-invalid ng-dirty': assetForm.errors?.['max24Hours'] }" />
                                <label for="duration">Duration</label>
                            </p-floatlabel>
                        </div>
                    </form>
                </div>
                <div class="flex items-center justify-between border border-gray-200 dark:border-gray-700 rounded p-4 w-full">
                    <p>Audience Tags <span class="!text-sm pi pi-question-circle"
                        pTooltip="Categorize audiences using optional demographic, time-based, and location-based tags for better targeting." tooltipPosition="bottom"></span></p>
                    <p-button (onClick)="showAudienceTag.set(true)" size="small" icon="pi pi-pencil" />
                </div>
                <div class="flex items-center justify-between border border-gray-200 dark:border-gray-700 rounded p-4 w-full">
                    <p>Scheduler <span class="!text-sm pi pi-question-circle"
                        pTooltip="Schedule the asset to be played at a specific time." tooltipPosition="bottom"></span></p>
                    <p-button (onClick)="showScheduler.set(true)" size="small" icon="pi pi-pencil" />
                </div>
            </div>
        </div>
    </p-card> 
</div>

<p-dialog [(visible)]="showScheduler" header="Schedule" [style]="{ width: '40rem' }" [draggable]="false" closable modal>
    <form class="flex flex-col gap-4" [formGroup]="assetForm">
        <div class="flex gap-2 items-center">
            <p-toggleswitch inputId="availability" formControlName="availability" (onChange)="onChangeAvailability($event)" />
            <label for="availability">Availability</label>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 relative">
            <div class="h-full w-full absolute top-0 left-0 bg-gray-400 z-50 opacity-10" [ngClass]="{ 'hidden': assetForm.get('availability')?.value }"></div>
            <p-floatlabel variant="on">
                <p-datepicker formControlName="start" inputId="start" [showIcon]="true" appendTo="body" 
                    [ngClass]="{ 'ng-invalid ng-dirty': assetForm.errors?.['startAfterEnd'] }" fluid />
                <label for="start">Start Date*</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <p-datepicker formControlName="end" inputId="end" [showIcon]="true" appendTo="body" 
                    [ngClass]="{ 'ng-invalid ng-dirty': assetForm.errors?.['startAfterEnd'] }" fluid />
                <label for="end">End Date*</label>
            </p-floatlabel>
        </div>
    </form>
    <app-weekday-hour-selection [formGroup]="assetForm" [isDisabled]="!assetForm.get('availability')?.value || false" />
    <ng-template #footer>
        <p-button label="Close" severity="secondary" (onClick)="onCloseSchedulerDialog()" />
    </ng-template>
</p-dialog>

<app-audience-tag-filters [formGroup]="assetForm" [isShowAudienceTag]="showAudienceTag" (onAudienceTagChange)="onAudienceTagChange($event)">