<form [formGroup]="assetFilterForm" class="flex items-center gap-2">
    <p-input-group>
        <input id="keywords" pInputText placeholder="Search" formControlName="keywords" (keydown.enter)="onClickApplyAudienceTag()" fluid />
        <p-inputgroup-addon>
            <p-button (onClick)="onClickApplyAudienceTag()" icon="pi pi-search" />
        </p-inputgroup-addon>
    </p-input-group>    
    <p-button pTooltip="More Filter" tooltipPosition="bottom" (onClick)="filter.toggle($event)" text>
        <ng-template #icon>
            <p-overlaybadge severity="danger" badgeSize="small" [badgeDisabled]="!useFilter()">
                <i class="pi pi-filter"></i>
            </p-overlaybadge>
        </ng-template>
    </p-button>
    <p-popover title="Filter" appendTo="body" #filter>
        <div class="flex flex-col gap-4 w-[18rem]">
            <p class="font-medium text-surface-500 dark:text-surface-0 block">Filter:</p>
            <div class="grid grid-cols-2 md:grid-cols-1 gap-2 w[25rem]">
                <p-datepicker formControlName="dateRange" selectionMode="range" placeholder="Date Range" readonlyInput showIcon fluid />
                <p-select [options]="categories()" optionLabel="name" optionValue="id" formControlName="category" placeholder="Category" appendTo="body" 
                    (onClear)="formControl('subCategory').reset()"
                    [virtualScroll]="true" [virtualScrollItemSize]="38" [virtualScrollOptions]="categoryOptions"
                    filter showClear fluid lazy />
                <p-select [options]="subCategories()" optionLabel="name" optionValue="id" formControlName="subCategory" placeholder="Sub Category" 
                    [virtualScroll]="true" [virtualScrollItemSize]="38" [virtualScrollOptions]="subCategoryOptions"
                    [readonly]="!formControl('category').value" appendTo="body" filter showClear fluid lazy />
                <p-select [options]="fileTypes()" formControlName="type" optionLabel="label" optionValue="value" placeholder="Types" showClear />
                <p-select [options]="orientations()" formControlName="orientation" optionLabel="label" optionValue="value" placeholder="Orientation" showClear />
                <p-button class="col-span-2 md:col-span-1" label="Audience Tag" icon="pi pi-tag" (onClick)="isShowAudienceTag.set(true)" outlined fluid />
            </div>
            <div class="flex gap-2 justify-end items-center">
                <p-button severity="secondary" (onClick)="onClickClear(filter)" label="Clear" size="small" [text]="true" icon="pi pi-times"></p-button>
                <p-button (onClick)="onClickApply(filter)" label="Apply" size="small" icon="pi pi-check"></p-button>
            </div>
        </div>
    </p-popover>
</form>

<app-audience-tag-filters [formGroup]="assetFilterForm" [isShowAudienceTag]="isShowAudienceTag" (onAudienceTagChange)="onAudienceTagChange($event)"/>