<p-card styleClass="dark:shadow-2xl dark:border border-gray-500">
    <ng-template #title>
        <div class="flex gap-2">
            <div class="flex items-center gap-4">
                <div class="flex items-center gap-4" [pTooltip]="utils.toTitleCase(screen.type)" tooltipPosition="bottom">
                    @switch (screen.type) {
                        @case('desktop') { <i class="pi pi-desktop !font-black !text-3xl !text-blue-500"></i> }
                        @case('android') { <i class="pi pi-android !text-3xl !text-lime-500"></i> }
                        @default { <i class="pi pi-globe !text-3xl"></i> }
                    }
                </div>

                <div class="flex flex-col">
                    <p class="text-sm md:text-base font-semibold">
                        {{ screen.name || screen.info.hostname || 'BROWSER' }}
                    </p>
                    <p class="text-xs md:text-sm line-clamp-1">{{ screen.code }}</p>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="flex flex-col gap-4">
        <p-tag [value]="screen.status.toUpperCase() || 'DISCONNECTED'" 
            [severity]="utils.getStatus(screen.status || 'DISCONNECTED')" [icon]="'pi ' + utils.getIcon(screen.status || 'DISCONNECTED')" />
        @if (!isAdmin) {
            <div class="flex gap-2 items-center">
                <p class="font-semibold">Group:</p>
                <div class="flex gap-2 items-center ml-auto">
                    <p class="text-sm italic">{{ screen.group.name ?? '-' }}</p>
                </div>
            </div>
            <div class="flex gap-2 items-center">
                <p class="font-semibold">Sub-Group:</p>
                <div class="flex gap-2 items-center ml-auto">
                    <p class="text-sm italic">{{ screen.subGroup.name ?? '-' }}</p>
                </div>
            </div>
        }
        <div class="flex gap-2 items-center">
            <p class="font-semibold">Orientation:</p>
            <div class="flex gap-2 items-center ml-auto">
                <p class="text-sm font-semibold">{{ screen.orientation.toUpperCase() || '-' }}</p>
            </div>
        </div>
        <div class="flex gap-2 items-center">
            <p class="font-semibold">Resolution:</p>
            <div class="flex gap-2 items-center ml-auto">
                <p class="text-sm font-semibold">{{ screen.resolution || '-' }}</p>
            </div>
        </div>
        <div class="flex gap-2 items-center">
            <p class="font-semibold">Last Update:</p>
            <div class="flex gap-2 items-center ml-auto">
                <i class="pi pi-clock" [style]="{ 'font-size': '0.75rem'}"></i>
                <p class="text-sm italic">{{ utils.onGetLastUpdatedLabel(screen.updatedAt) }}</p>
            </div>
        </div>
        @if (!isAdmin) {
            <div class="flex gap-2 items-center">
                <p class="font-semibold">Tags:</p>
                <div class="flex gap-2 items-center ml-auto">
                    @for (item of screen.tags; track $index) {
                        <p-chip [label]="item" />
                    } @empty {
                        <p class="text-sm italic">-</p>
                    }
                </div>
            </div>
        }
    </div>
    <ng-template #footer>
        <div class="flex justify-end gap-2">
            <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: screen }"></ng-container>
        </div>
    </ng-template>
</p-card>